body{
	background-color: #3e3b3b;
	//border: 1px solid white;
	margin-left: 20px;
	margin-right: 20px;
	
}

header{
	background-color: #211F1F;
	padding-right: 50px;
	padding-left: 50px;

}
footer{
	background-color: #1E1C1C;
	color: white;
	padding: 10px 50px;
	//padding-right: 50px;
	//padding-left: 50px;

}
#temp{
	color:white;

}

h1{
	color: white;
}

a{
	text-decoration: none;
    color: #fff;

}
nav{
	background-color: black;
	padding:10px;
}


#main{
	height: 650px;
	background-color: white;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 20px;
}

#s1{
	position: relative;
	background-color: black;
	height: 250px;
}

.a2{
	position: absolute;
	color: white;
	left:43%;
	top:45%;

}



#s2{
	text-align: justify;
	background-color: #E3DFDF;
	color: #7B7878;
}
#lfg{
	border-bottom: 1px solid grey;
}

#s3{
	margin-top: 20px;
}

button{
	width: 100%;
	position: absolute;
	top:90%;
}

.name {
    position: absolute;
    text-align: center;
    bottom: 0px;
    color: #000;
    display: inline-block;
    background: #ccc;
    width: calc(100% - 10px);
    padding: 5px;
}
.s4{
    position: relative;
    float: left;
    height: 250px;
    width: calc(25% - 10px);
    background-color: black;
    margin-left: 10px;
    border: 5px solid #fff;
    box-shadow: 0 0 2px #ccc;
    box-sizing: border-box;
}

#m1{
	float: right;
}
